# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Results / artifacts
output/

# OS / IDE
.DS_Store
__MACOSX/
.idea/
*.iml
.venv
DS_Store
*.egg-info/
.pytest_cache/
tests/__pycache__
jidra.egg-info/
