.DS_Store
output
venv
.venv
__pychace__
/jidra/__pycache__
flow_docs
jidra/__pycache__/
tests/__pycache__
jidra/experiments/__pycache__/
.jidra/
validations/__pycache__
.claude
*.egg-info/
jidra/scala_proto/__pycache__
.mcp.json
.jidra_test/graph.jsonl
.jidra_test/graph_test.jsonl
CLAUDE.md
